*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.logo{
    width: 6%;
    height: 6%;   
}
.navbar-custom {
    background-color: rgb(234, 163, 241);
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;    
}
/*.admin_image{
    width: 100px;
    object-fit: contain;

}*/